.fourthWrapper {
  height: 40vh;
  background-color: #f4abb8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.fourthWrapper_element {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}

.fourthWrapper_element div:first-child {
  background-color: #ccc;
}

.fourthWrapper_element__bottom button {
  background-color: gray;
  cursor: pointer;
}
/*.fourthWrapper_element__bottom {

}*/
